footer.footer.footer_style
  div.container
    div.row(style="padding-top: 20px;")
      div.col-8.col-lg-4.col-xl-4.col-md-4
         p
          ul.list-inline.footer_link
            li.list-inline-item
              a(href='/') Home
            li.list-inline-item
              a(href='/about') About
            li.list-inline-item
              a(href='/contact') Contact
            li.list-inline-item
              a(href='/register') Register
            li.list-inline-item
              a(href='/login') Login
          ul.list-inline.footer_link
            li.list-inline-item
              a(href='https://whattowatch.mggert.com/' target="_blank") Movies
            li.list-inline-item
              a(href='https://whattowatchtv.mggert.com/' target="_blank") TV Shows
       
      div.col-0.col-lg-4.col-xl-4.col-md-4.align-self-center.order-3.order-lg-2.order-xl-2.order-md-2
        h5(style="font-weight: bold").text-center.title_colors 
      div.col-4.col-lg-4.col-xl-4.col-md-4.align-self-center.order-2.order-xl-2.order-md-2(style="text-align: right")
        .social-icons
          a#scroll_button_footer.social-icon.social-icon--codepen.mx-auto(style="height: 50px;width:50px;background:#423268")
            i.fas.fa-arrow-up.fa-stack-1x(style="color: white")
    
    div.row.copy
      div.col-8.col-lg-4.col-xl-4.col-md-4
        p(style="margin-top:20px;font-size: small;color: #c2bfbf")
          | &copy; Copyright 2022 - What To Watch.  All rights reserved.

      div.col-0.col-lg-4.col-xl-4.col-md-4
      div.col-8.col-lg-4.col-xl-4.col-md-4.align-self-center(style="text-align: right")
        ul.list-inline.footer_link
          li.list-inline-item

  script.
    const scroll_btn = document.querySelector('#scroll_button_footer');
        // handle button click
        scroll_btn.onclick = function () {
          $('html,body').animate({
            scrollTop: 0}, 'slow');
        };  
// <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
// <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
// <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
