footer.footer.footer_style
  div.container
    div.row(style="padding-top: 20px;")
      div.col-8.col-lg-4.col-xl-4.col-md-4
         p
          ul.list-inline.footer_link
            li.list-inline-item
              a(href='/') Home
            li.list-inline-item
              a(href='/about') About
            li.list-inline-item
              a(href='/contact') Contact
            li.list-inline-item
              a(href='/register') Register
            li.list-inline-item
              a(href='/login') Login
       
      div.col-0.col-lg-4.col-xl-4.col-md-4.align-self-center.order-3.order-lg-2.order-xl-2.order-md-2
        h5(style="font-weight: bold").text-center.title_colors 
      div.col-8.col-lg-4.col-xl-4.col-md-4.align-self-center.order-2.order-xl-2.order-md-2(style="text-align: right")
        a.btn.btn-md.custom_button(href='#' style="margin-bottom: 10px;") Back To Top
    
    div.row.copy
      div.col-8.col-lg-4.col-xl-4.col-md-4
        p(style="margin-top:20px;font-size: small")
          | &copy; Copyright 2022 - What To Watch.  All rights reserved.

      div.col-0.col-lg-4.col-xl-4.col-md-4
      div.col-8.col-lg-4.col-xl-4.col-md-4.align-self-center(style="text-align: right")
        ul.list-inline.footer_link
          li.list-inline-item
                
// <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
// <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
// <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
