// The Modal
#generatingReccs.modal
  .modal-dialog
    .modal-content
      // Modal Header
      .modal-header
        h5.modal-title.mx-auto Loading Recommendations...
      // Modal body
      .modal-body
        p
          strong Your reviews are currently being processed and we are generating your recommendations...
        img(src='/images/loading_gif.gif', alt="Loading Gif" width='120px' height='120px' style="margin-top: 30px;display: block; margin-left: auto; margin-right: auto;")
        p(style="margin-top:30px;margin-bottom:20px;")
          | Thank you for using What To Watch.
      // Modal footer
      .modal-footer(style="padding-top: 20px;padding-bottom: 20px;")
