- var logo = '/images/ri_logo2.png'

#swup.transition-fade.nav.navbar.navbar-expand-md.mb-3.navbar_design(style="background: #030000")
  .container-fluid
    a.navbar-brand(href='/')
      img(src='/images/what_to_watch_logo_only.webp' alt='What To Watch Logo' height='36')

    button.btn.btn-dark.sidebar_collapse.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-align-justify
    #navbarSupportedContent.collapse.navbar-collapse
      .navbar-nav
        if !user_info
          a.nav-item.nav-link.nav_color(href='/') Home
        //- a.nav-item.nav-link.nav_color(href='/about') About
        a.nav-item.nav-link.nav_color(href='/contact') Contact
      .navbar-nav.ml-auto
        if user_info
          a.nav-item.nav-link.nav_color(href="/userprofile") Dashboard
          a.nav-item.nav-link.nav_color(href="/logout") Logout
        else
          a.nav-item.nav-link.nav_color(href='/login') Login
          a.nav-item.nav-link.nav_color(href='/register') Register