// The Modal
#successWatchlist.modal
  .modal-dialog
    .modal-content
      // Modal Header
      .modal-header
        h5.modal-title.mx-auto#watchlist_message
        button.close(type='button' data-dismiss='modal') &times;
      // Modal body
      .modal-body.text-align-center
        img(src='/images/green-tick.png', width='120px' height='120px' style="display: block; margin-left: auto; margin-right: auto;")
        p(style="margin-top:20px")
          | #[a(href="/movies/user/watchlist") Click here to see your watchlist.]
      // Modal footer
      .modal-footer
        button.btn.btn-danger(type='button' data-dismiss='modal') Close
