extends layout

block content
  title Remote Working Ireland - Contact
  - var logo = logo
  .container-fluid(style="padding-top: 60px;")
    .row(style="padding-top: 80px;")
      .col-10.col-sm-10.col-md-5.col-lg-5.col-xl-5.offset-xl-1.offset-lg-1.offset-md-1.offset-1.align-self-center.row_style
        h2.text-center.title_colors
          | 404 - Page Not Found
        p.text_colors
          | It looks like we cannot locate the page you searched for.
        p.text_colors
          | This might mean that the page you used previously no longer exists or you may have typed the wrong page into the URL.
        
      .col-10.col-sm-10.col-md-5.col-lg-3.col-xl-3.offset-xl-2.offset-lg-2.offset-md-1.offset-1.align-self-center.row_style
        img(src='/images/404_error.jpg', style="width:100%")
                  
                
