extends welcome_layout

block content

  .container-fluid(style="padding-top: 10px;background-color: #1a1a1a")
    .row.curved-div(style="margin-top: 0px;padding-top: 40px;margin-bottom: 20px")
      .col-10.col-sm-10.col-md-5.col-lg-5.col-xl-5.offset-xl-1.offset-lg-1.offset-md-1.offset-1.align-self-center.row_style
        h4.text-center.white_text
          | Let's Get Started
        p.white_text 
          | In order to start generating recommendations you must rate at least 5 titles. But the more you review,
          b
            |  the better the suggestions!
        p.white_text
          | To get started search for one of your favorites titles here to rate it.
        p#remaining_media_num.white_text
          | You currently have 
          b #{remaining_medias} 
          | titles left to rate.
        //- .welcome-search.search_bar_alignment.my-2.my-lg-0
        //-           input.form-control.mr-sm-2.search_bar_style(type='search' id="welcome_search_submit" placeholder='Search' aria-label='Search' required)
        //-           button.btn.btn-default(type='submit').search_button#welcome_search(style="color: #fff")
        //-             i.fas.fa-search
        //- p.password_error#bad_welcome_search
        
        .clear-input-container
          input#project-id(type='hidden')
          input#project.clear-input(type='text', style="width: 100%").registration_input
          button.clear-input-button(aria-label='Clear input' title='Clear input') &times;
        br
        br
        .row
          .col-3.col-sm-2.col-md-2.col-lg-3.col-xl-2.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
            .img_poster(style="padding-right: 10px;padding-left: 10px")
              img.search_poster#search_poster0.d-block
          .col-9.col-sm-10.col-md-10.col-lg-9.col-xl-10.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
            .search_text
              h3#movie_title0
              p#media_id0(style="display: none")
              p#movie_date0
              p#movie_overview0.hidden_text
        
      .col-10.col-sm-10.col-md-5.col-lg-3.col-xl-3.offset-xl-2.offset-lg-2.offset-md-1.offset-1.row_style.align-self-center
        .feedback2
          h3.minor_heading.white_text Submit Rating
          .rating
            input#input_media_id(style="display: none", name="input_media_name" value="")
            input#rating-10(type='radio' name='rating' value="10")
            label(for='rating-10')
            input#rating-9(type='radio' name='rating' value="9")
            label(for='rating-9')
            input#rating-8(type='radio' name='rating' value="8")
            label(for='rating-8')
            input#rating-7(type='radio' name='rating' value="7")
            label(for='rating-7')
            input#rating-6(type='radio' name='rating' value="6")
            label(for='rating-6')
            input#rating-5(type='radio' name='rating' value="5")
            label(for='rating-5')
            input#rating-4(type='radio' name='rating' value="4")
            label(for='rating-4')
            input#rating-3(type='radio' name='rating' value="3")
            label(for='rating-3')
            input#rating-2(type='radio' name='rating' value="2")
            label(for='rating-2')
            input#rating-1(type='radio' name='rating' value="1")
            label(for='rating-1')
          
          button#rating_button.submit.btn.custom_button(type="submit") Submit

  








  script.
    $( function() {
      $( "#project" ).autocomplete({
        minLength: 3,
        source: function( request, response ) {
          $.ajax({
            type: "POST",
            url: '/media/welcome/search',
            dataType: "json",
            data: {search: request.term},
            success: function( data ) {
              console.log(data.results);
              response( data.results.slice(0, 10) );
            }
          });
        },
        focus: function( event, ui ) {
          $( "#project" ).val( ui.item.name );
          return false;
        },
        select: function( event, ui ) {
          let dateOnly = ui.item.first_air_date.slice(0, 4);
          $( "#project" ).val( ui.item.name );
          $( "#project-id" ).val( ui.item.first_air_date );
          $( "#movie_title0" ).html( ui.item.name );
          $( "#movie_date0" ).html( dateOnly );
          $( "#media_id0" ).html( ui.item.id );
          $( "#movie_overview0" ).html( ui.item.overview );
          $( "#search_poster0" ).attr( "src", "https://image.tmdb.org/t/p/w500" + ui.item.poster_path );
        return false;
        }
      })
      .autocomplete( "instance" )._renderItem = function( ul, item ) {
        let dateOnly = item.first_air_date.slice(0, 4);
        return $( "<li>" )
        .append( "<div style='padding-top:5px;padding-bottom:5px;padding-left:5px'>" + item.name + " | <i>" + dateOnly + "</i></div>" )
        .appendTo( ul );
      };
    });

    const input = document.querySelector(".clear-input")
    const clearButton = document.querySelector(".clear-input-button")

    const handleInputChange = (e) => {
      if (e.target.value && !input.classList.contains("clear-input--touched")) {
        input.classList.add("clear-input--touched")
      } else if (!e.target.value && input.classList.contains("clear-input--touched")) {
        input.classList.remove("clear-input--touched")
      }
    }

    const handleButtonClick = (e) => {
      input.value = ''
      input.focus()
      input.classList.remove("clear-input--touched")
    }

    clearButton.addEventListener("click", handleButtonClick)
    input.addEventListener("input", handleInputChange)