extends layout

block content
  title FMovies - Error
  - var logo = logo
  .container-fluid(style="padding-top: 60px;")
    .row.curved-div(style="padding-top: 80px;")
      .col-10.col-sm-10.col-md-5.col-lg-5.col-xl-5.offset-xl-1.offset-lg-1.offset-md-1.offset-1.align-self-center.row_style
        h2.text-center.title_colors
          | 500 - Internal Server Error
        p.text_colors
          | It looks like there has an issue on our side.
        p.text_colors
          | <b>Error Type:</b> #{error.name}
        p.text_colors
          | <b>Error Message:</b> #{error.message}
        p.text_colors
          | We are trying are best to fix this issue and are doing everything in our power to restore service. If this is a persistant issue we would be very grateful if you could <a href="/contact">contact us here.</a>
        
      .col-10.col-sm-10.col-md-5.col-lg-3.col-xl-3.offset-xl-2.offset-lg-2.offset-md-1.offset-1.align-self-center.row_style
        img(src='/images/500_error.jpg', style="width:100%")
                  
      svg(viewbox='0 0 1440 319')
        path(fill='#fff' fill-opacity='1' d='M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z')
                
