extends home_layout

block content
  include includes/loading_modal.pug
  // Full Page Image Header with Vertically Centered Content
  #loader(style="display:none")
  header.masthead#masthead_load(style="background-image: url('/images/movie_background.png');height: 80vh")
    .container-fluid.h-100.align-items-center(style="display: flex")
      .row.header_text.shadow-lg.mx-auto#form_background
        .col-xl-6.col-lg-6.col-md-8.col-sm-10.col-12.offset-0.offset-sm-1.offset-md-2.offset-xl-0.offset-lg-0.text-center
          img(src='/images/what_to_watch_black.png' alt="What To Watch Icon" style="width: 80%")
          h2.fw-light.home_title Movie Recommendations For You. 🎞️
          p.lead(style="margin-top: 20px") WhatToWatch is the best place for you to get recommendations for movies we know you will love. 
        .col-xl-6.col-lg-6.col-md-8.col-sm-10.offset-sm-1.offset-md-2.offset-xl-0.offset-lg-0
          h4.title_style.text-center
            | Sign in
          div.message.alert.alert-danger(style="display:none;")
            | #{message}
          form#home_login_form(action='/login' method='POST')
            div.form-group.form-registration
              label(for="username") Username
              input.form-control.username(type="text", name="username", autocomplete="username" required)
            div.form-group.form-registration
              label(for="password") Password
              input.form-control.password(type="password", name="password", autocomplete="current-password" required)
            span.forgot_password
              a(href='/password_reset') Forgot Password?
            div.form-group.form-registration
              button.submit.btn.alt_button(type="submit") Login
            p#bad_login.password_error
            div.form-group.form-registration
              p
              | Don't have an account? 
              | &nbsp; #[a(href="/register") Sign up here.]
  
  .container-fluid(style="padding-top: 30px;padding-bottom: 40px;")
    .row.curved-div(style="padding-top: 20px;")
      .col-12.col-sm-10.col-md-5.col-lg-4.col-xl-4.offset-xl-1.offset-lg-1.offset-md-1.offset-0.align-self-center.row_style.mobile_padding
        img(src='/images/movie_back_small.jpg', style="width:100%;border-radius:5px")
      .col-12.col-sm-10.col-md-5.col-lg-5.col-xl-5.offset-xl-1.offset-lg-1.offset-md-1.offset-0.align-self-center.row_style
        h2.title_style
          | The Easiest Way To Find A Movie. 🍿
        p
          | Our aim is to provide a simple way to generate movie recommendations tailored to each individual user. Everyone has at spent at least an evening or two scrolling through movies on Netflix or Amazon Prime not knowing what to watch. We want to make this as easy as possible.   
        p
          | All we ask is for you to rate five of your favorite movies. That's it! Once you do this, there'll be a personal list of movies tailored just for you. As with anything, the more you rate, the more accurate we get. 📽️
        p
          | To get started all you need to do is&nbsp; #[a(href="/register") Sign up here.] If you would like to find out a little bit more info about the app you can&nbsp; #[a(href="/about") read about us here.]

  // Page Content
  //section.py-5
  //  .container
  //    h2.fw-light Page Content
  //    p
  //      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis
  //      | blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat
  //      | reprehenderit expedita.

  script.
    if (getQueryVariable('failed_login')) {
      document.getElementById("bad_login").innerHTML = '*Username or password is incorrect.';
    }