doctype html
html(lang="en")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='/css/rating.css')
    link(rel='stylesheet' href='/css/circle.css')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/d425e345ee.js' crossorigin='anonymous')
 
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='/js/helpers.js')

  body
    
    .wrapper
      // Sidebar
      nav#sidebar
        .sidebar-header
          a.home_click(href='/userprofile')
            img(src='/images/small_logo_cropped.png' alt="FMovies Icon")
        ul.list-unstyled.components
          p
          li
            a.home_click(href='/userprofile') Home
          li
            a(href='#') About
          li
            a(href='#') Search
          li
            a(href='#') Watch List
        ul.list-unstyled.CTAs
          li
            button.submit.btn.alt_button(style="width: 100%" href='https://bootstrapious.com/tutorial/files/sidebar.zip') Download source
          li
            button.submit.btn.custom_button(style="width: 100%;margin-top: 20px" href='https://bootstrapious.com/p/bootstrap-sidebar') Back to article

      // Page Content
      #content
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .container-fluid
            button#sidebarCollapse.btn.custom_button(type='button')
              i.fas.fa-align-left(style="margin-right: 5px")
              span Toggle Sidebar
            button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              i.fas.fa-align-justify
            #navbarSupportedContent.collapse.navbar-collapse

              ul.nav.navbar-nav.ml-auto
                form.search_bar_alignment.my-2.my-lg-0(action='/search' method='POST')
                  input.form-control.mr-sm-2(type='search' name="search" placeholder='Search' aria-label='Search' required)
                  button.btn.btn-default(type='submit').search_button
                    i.fas.fa-search

                li.nav-item.active
                  a.home_click.nav-link(href="/userprofile") Dashboard
                li.nav-item
                  a.nav-link(href="/logout") Logout

        // We'll fill this with dummy content
        block content

  
  script.
    if (getQueryVariable('failed_login')) {
      document.getElementById("bad_login").innerHTML = '*Username or password is incorrect.';
    }

    $(document).ready(function(){
      $(".home_click").on('click', function(e){
          document.getElementById("loader_base").style.display = 'block';
          document.getElementById("main_wrapper").style.filter = 'blur(25px)';
      });
    });