doctype html
html(lang="en")
  head
    link(href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='/css/rating.css')
    link(rel='stylesheet' href='/css/circle.css')
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/d425e345ee.js' crossorigin='anonymous')
 
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js' data-cfasync='false')
    script(src='/js/helpers.js')

  body

    include includes/loading_modal.pug
    
    .wrapper
      // Sidebar
      nav#sidebar
        .sidebar-header
          a.home_click#logo_btn(style="cursor: pointer;")
            img(src='/images/what_to_watch_black.png' alt="What To Watch Icon" style="width: 80%")
        ul.list-unstyled.components
          p
          li
            a.home_click#home_btn(href='/userprofile') Home
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
          li
            a(href='/user/watchlist') Watch List
        ul.list-unstyled.CTAs
          li
            //button.submit.btn.alt_button(style="width: 100%" href='https://bootstrapious.com/tutorial/files/sidebar.zip') Download source
          li
            //button.submit.btn.custom_button(style="width: 100%;margin-top: 20px" href='https://bootstrapious.com/p/bootstrap-sidebar') Back to article

      // Page Content
      #content
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .container-fluid
            button#sidebarCollapse.sidebar_collapse.btn.custom_button(type='button')
              i.fas.fa-align-left(style="margin-right: 5px")
              span Toggle Sidebar
            button.btn.btn-dark.sidebar_collapse.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              i.fas.fa-align-justify
            #navbarSupportedContent.collapse.navbar-collapse

              ul.nav.navbar-nav.ml-auto
                form.search_bar_alignment.my-2.my-lg-0(action='/search' method='POST')
                  input.form-control.mr-sm-2(type='search' name="search" placeholder='Search For Movies...' aria-label='Search' required)
                  button.btn.btn-default(type='submit').search_button
                    i.fas.fa-search

                li.nav-item.active
                  a.home_click.nav-link#dash_btn(href="/userprofile") Dashboard
                li.nav-item
                  a.nav-link(href="/logout") Logout

        // We'll fill this with dummy content
        block content

  
  script.
    if (getQueryVariable('failed_login')) {
      document.getElementById("bad_login").innerHTML = '*Username or password is incorrect.';
    }

    const logo_btn = document.querySelector('#logo_btn');
    const dash_button = document.querySelector('.logo_btn')
        // handle button click
        $("#logo_btn, #dash_btn, #home_btn").click(function () {
            $('#generatingReccs').modal({
              backdrop: 'static',
              keyboard: false
              })
            $("#generatingReccs").modal('show');
            $.ajax({
                type: "GET",
                url: '/user/userprofile',
                dataType: "json",
                success: function(data){
                  console.log("SUCCESS")
                  console.log(data);
                  window.location.href = "/userprofile";
                },
                error: function(jqXHR, textStatus, errorThrown){
                  console.log("FAILURE")
                  console.log(errorThrown);
                }              
            });
        });