extends home_layout

block content
  title What To Watch - Login
  include includes/loading_modal.pug
  include includes/password_reset_modal.pug
  // Full Page Image Header with Vertically Centered Content
  #loader(style="display:none")
  header.masthead#masthead_load(style="background-image: url('/images/login_background.jpg')")
    .container.h-100
      .row.h-100.align-items-center#form_background
        .col-10.col-sm-10.col-md-8.col-lg-4.col-xl-4.login_form.shadow-sm.bg-white.rounded.mx-auto
          img(src='/images/what_to_watch_black.png' alt="What To Watch Icon" style="width: 80%")
          div.message.alert.alert-danger(style="display:none;")
            | #{message}
          form#login_form(action='/login' method='POST')
            div.form-group.form-registration
              label(for="username") Username
              input#username.form-control.username(type="text", name="username", autocomplete="username" required)
            div.form-group.form-registration
              label(for="password") Password
              input#password.form-control.password(type="password", name="password", autocomplete="current-password" required)
            span.forgot_password
              a(href='/password_reset') Forgot Password?
            div.form-group.form-registration
              button.submit.btn.alt_button(type="submit") Login
            p#bad_login.password_error
            div.form-group.form-registration
              p
              | Don't have an account? 
              | &nbsp; #[a(href="/register") Sign up here.]

  script.
    if (getQueryVariable('failed_login')) {
      document.getElementById("bad_login").innerHTML = '*Username or password is incorrect.';
    }
    if (getQueryVariable('password_reset')) {
      $("#password_reset_success").modal('show');
    }