extends home_layout

block content
  - var logo = logo
  header.masthead
    .container.h-100
      .row.h-100.align-items-center.d-flex.justify-content-center
        .col-md-4.col-lg-4.col-xl-4.login_form.shadow-sm.p-3.mb-5.bg-white.rounded
          img(src='/images/NewLogoBlack.png' alt="FMovies Icon" style="width: 80%")

          div.message.alert.alert-danger(style="display:none;")
            | #{message}
          form(action='/user/forgot_password', method='post')

            h4(style='text-align: center;', 'margin-top:-5px') Forgot Password


            div.form-group.form-registration
              input.form-control.email(type="email", name="email", placeholder="Email address", aria-describedby="emailHelp")

            div.form-group.form-registration
              button.submit.btn.custom_button(type="submit") Send Email

            p#email_does_not_exist.password_error
            p#email_does_exist.email_succes
            p#token_expired.password_error


            script.
              if (getQueryVariable('EmailDoesNotExist')){
                document.getElementById("email_does_not_exist").innerHTML = 'Email does not exist!';
              }
              if (getQueryVariable('EmailDoesExist')){
               document.getElementById("email_does_exist").innerHTML = 'Go check your Email!';
              }
              if (getQueryVariable('TokenExpired')){
               document.getElementById("token_expired").innerHTML = 'Your reset token has expired!';
              };

              function getQueryVariable(variable)
              {
                     var query = window.location.search.substring(1);
                     var vars = query.split("&");
                     for (var i=0;i<vars.length;i++) {
                             var pair = vars[i].split("=");
                             if(pair[0] == variable){return pair[1];}
                     }
                     return(false);
              }