extends home_layout

block content
  title What To Watch - Password Forget
  - var logo = logo
  header.masthead(style="background-image: url('/images/about_blank.png');")
    .container.h-100
      .row.h-100.align-items-center.d-flex.justify-content-center
        .col-md-6.col-lg-6.col-xl-6.login_form.shadow-lg.p-3.mb-5.bg-white.rounded
          img(src='/images/what_to_watch_black.png' alt="What To Watch Icon" style="width: 50%")

          div.message.alert.alert-danger(style="display:none;")
            | #{message}
          form(action='/reset', method='POST')

            h4(style='text-align: left;', 'margin-top:20px') Forgot Password
            p
              | Enter your email below and we'll send you a link that'll allow you to update your password.


            div.form-group.form-registration
              input.form-control.email(type="email", name="email", placeholder="Email address", aria-describedby="emailHelp" required)

            div.form-group.form-registration
              button.submit.btn.custom_button(type="submit") Send Email

            p#email_does_not_exist.password_error
            p#token_sent.success_message

            script.
              if (getQueryVariable('EmailDoesNotExist')){
                document.getElementById("email_does_not_exist").innerHTML = 'Email does not exist!';
              }
              if (getQueryVariable('TokenSent')){
                document.getElementById("token_sent").innerHTML = 'Token Sent. Please check your email!';
              }