extends layout

block content
  title FMovies Home
  - var reccs = movie_info
  
  .container-fluid
    .row
      .col-6.col-sm-4.col-md-4.col-lg-4.col-xl-3.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
        h2 Welcome Pal
